/* Custom CSS */

.list-pager {
    margin: 20px 0;
    text-align: center;
}

.list-pager ul {
    list-style: none;
    margin: 0;
    text-align: 0;
    padding: 0;
}

.list-pager ul li {
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
}

.list-pager ul li:hover {
    opacity: .8;
}

.list-pager ul li.normal {
    cursor: pointer;
    border: 1px solid #A7A6BF;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #43425D;
    color: #ffffff;
    box-shadow: 3px 3px 3px #bebcbc;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    margin: 0 3px;
}

.list-pager ul li a.prev, 
.list-pager ul li a.next {
    width: 112px;
}

.list-pager ul li a.normal {
    text-decoration: none;
}

.list-pager ul li.active {
    background: #A7A6BF;
}

.list-pager ul li.hidden {
    display: none !important;
}

.list-pager ul li img {
    cursor: pointer;
}

.list-pager ul li img.disabled {
    opacity: .4;
}

.list-pager ul li a.hidden {
    display: none !important;
}

.list-pager ul li.normal {
    
}

.list-pager ul li a img {
    height: 20px;
    color: #ffffff;
}