<nav class="list-pager">
    <ul>
        <li (click)="onFirst()">
            <img [ngClass]="{'disabled': pageToShow === 1}"
                 src="../../assets/image/button-first.svg" alt="first"
            >
        </li>
        <li (click)="onPrevious()">
            <img [ngClass]="{'disabled': pageToShow === 1}"
                 src="../../assets/image/button-previous.svg" alt="previous"
            >
        </li>
        <li class="normal" 
            [ngClass]="{'hidden': startPage === 1}"
            (click)="onJumpPre()"
        >
            <a>...</a>
        </li>
        <li class="normal" 
            [ngClass]="{'active': pageToShow === page}" 
            *ngFor="let page of pages" 
            (click)="getCurrentPage(page)"
        >
            <a>{{page}}</a>
        </li>
        <li class="normal" 
            [ngClass]="{'hidden': endPage === totalPage}"
            (click)="onJumpNext()"
        >
            <a>...</a>
        </li>
        <li (click)="onNext()">
            <img [ngClass]="{'disabled': pageToShow === totalPage}"
                 src="../../assets/image/button-next.svg" alt="next"
            >
        </li>
        <li (click)="onLast()">
            <img [ngClass]="{'disabled': pageToShow === totalPage}"
                 src="../../assets/image/button-last.svg" alt="last"
            >
        </li>
    </ul>
</nav>